@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "bourbon/bourbon";
@import "neat/neat";
@import "../../../../css/_variables";

p {
	text-align: left;
}

canvas {
	background-color: white;
	border: 1px solid black;
	//width: 280px !important;
	//height: 280px !important;
	//width: 100%;
	//height: 100%;
	//max-width: 280px;
	//max-height: 280px;
	height: 100%;
}

img {
	@include position(relative, 0 null null 0);
	@include size(100%);
	//width: 100%;
	height: auto;
	object-fit: contain;
	border: 5px solid white;
	//max-height: 300px;
	min-width: 75%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#result {
	font-family: 'Ubuntu', sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#bars {
	border: 2px solid lighten($link-color, 10%);
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;

	.bar {
		height: 30px;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
		
		.barValue {
			background-color: lighten($link-color, 10%);
			width: 50%;
			display: inline-block;
		}

		.barLabel {
			font-size: 1.2em;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

#sketchpad {
	margin-right: 0;
}

#resizedCanvas {
	margin-left: 0;
}

#resizedCanvasOuter {
	display: none;

	@include media($small-desktop) {
		display: block;
	}

	@include media($desktop) {
		display: block;
	}
}

#controls {
	max-width: 500px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

#canvas-container {
	margin-left: auto;
	margin-right: auto;
	//grid-template-columns: repeat(1, 1fr);

	//@include media($desktop) {
	//	grid-template-columns: repeat(2, 1fr);
	//}
}

.section {
	max-width: 1000px;
}
